.eventStatsContainer {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  height: 100%;
  gap: 13px;
}

.usersFollowingStat {
  font-size: 13px;
  margin-left: 2px;
  margin-bottom: 5px;
  color: #8C90A3;
}

.boxContainer {
  display: flex;
  gap: 10px;
  margin: 0 5px;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #444;
}

.box {
  max-width: 150px;
  width: 100%;
  border: 2px solid #8C90A3;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color .2s ease;
}

.subtitle {
  white-space: nowrap;
  max-width: 235px;
}

.number {
  font-size: 2em;
  font-weight: bold;
  white-space: nowrap;
  overflow-x: auto;
}

.box:hover {
  background-color: rgba(255, 255, 255, .07);
}

.graphSummaryContainer,
.ticketsTableContainer {
  background-color: rgba(255, 255, 255, .075);
  padding: 10px 10px;
  border-radius: 10px;
}
.graphSummaryContainer > span,
.ticketsTableContainer > span {
  font-weight: bold;
}

.chartContainer {
  margin-top: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: #888 #444;
}

.chartTitle {
  margin-top: 0;
}

.tableContainer {
  position: relative;
  overflow-x: auto;
}

.spinnerContainer {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.ticketsSummaryTable,
.ticketsTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.ticketsTable {
  margin-top: 15px;
}

.ticketsSummaryTable th,
.ticketsSummaryTable td,
.ticketsTable th,
.ticketsTable td {
  border: 1px solid rgba(255, 255, 255, .05);
  padding: 6px 8px;
  text-align: left;
  white-space: nowrap;
  max-width: 120px;
  overflow-x: auto;
}

.rightAligned {
  text-align: right !important;
}
.centerAligned {
  text-align: center !important;
}

.header-row {
  font-weight: bold;
  font-size: 12px;
}

.ticketsSummaryTable th,
.ticketsTable th {
  background-color: rgba(255, 255, 255, .04);
  font-weight: bold;
}

.ticketsSummaryTable tr:nth-child(even),
.ticketsTable tr:nth-child(even) {
  background-color: rgba(255, 255, 255, .04);
}

.ticketsSummaryTable tr:hover,
.ticketsTable tr:hover {
  background-color: rgba(255, 255, 255, .04);
}

.user-row {
  background-color: rgba(255, 255, 255, .08);
  border: 0;
  font-weight: bold;
  font-size: 14px;
}

.small-row {
  min-width: 0 !important;
}

.smallest-row {
  min-width: 10px !important;
  padding: 0 !important;
}

.submissionsContainer {
  margin: 0 10px;
}

.odd {
  margin-left: 5px;
  margin-bottom: 8px;
}
.even {
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: safe center;
  overflow-x: auto;
  scrollbar-width: none;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #131313;
  color: #a7a7a7;
  cursor: pointer;
}

.pagination button.active {
  background-color: rgba(255, 255, 255, 0.15);
  color: #eaeaea;
}

.pagination button.previousNextButton {
  color: #cdcdcd;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.eyeIcon {
  filter: invert(1);
}
.eyeIcon.small {
  width: 12px;
  height: 12px;
}

@media (prefers-color-scheme: light) {
  .graphSummaryContainer,
  .ticketsTableContainer {
    background-color: rgba(0, 0, 0, .05);
  }

  .box:hover {
    background-color: rgba(0, 0, 0, .06);
  }

  .user-row {
    background-color: rgba(0, 0, 0, .12);
  }

  .ticketsSummaryTable th,
  .ticketsSummaryTable td,
  .ticketsTable th,
  .ticketsTable td {
    border: 1px solid rgba(0, 0, 0, .05);
  }

  .ticketsSummaryTable tr:nth-child(even),
  .ticketsTable tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .06);
  }

  .pagination button {
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: #f0f0f0;
    color: #333;
  }

  .pagination button.active {
    background-color: rgba(0, 0, 0, .13);
    color: #000;
  }
  
  .pagination button.previousNextButton {
    color: #333;
  }
}