.homeContainer {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.homeSplashContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeSplashContainer .ticketLogo {
  width: 125px;
  height: 125px;
}

.headerContainer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.eventTitle {
  font-size: 30px;
  font-weight: bold;
}

.headerSelectContainer {
  display: flex;
  flex-wrap: nowrap;
}

.iconsContainer {
  display: flex;
  gap: 18px;
}

.scannerContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 25px;
  margin: 35px 0;
}

.scannerContainer svg {
  display: none;
}

.eventSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  font-size: 30px;
  font-weight: bold;
  padding: 0 30px 0 0;
  margin: 0;
  cursor: pointer;
  max-width: 85dvw;
  z-index: 1;
}
.eventSelect:focus {
  outline: none;
}

.chevronDown {
  filter: invert(1);
  position: relative;
  z-index: -10;
}
.chevronDown.select {
  transform: translate(-26px, 3px);
}

.icon {
  width: 25px;
  filter: invert(1);
  position: relative;
}

.eventList {
  gap: 10px;
}

.emptyList {
  text-align: center;
  color: grey;
  margin-top: 50px;
  font-style: italic;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.signOutButton {
  width: max-content;
  border-radius: 10px;
  padding: 3px 8px;
  border: 1px solid transparent;
  font-size: .9em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: text;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  align-items: center;
  gap: 6px;
}
.signOutButton > .logout {
  filter: invert(1);
  width: 13px;
  height: 13px;
}

.langSelect {
  width: max-content;
  border-radius: 10px;
  padding: 3px 10px;
  border: 1px solid transparent;
  font-size: .9em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: text;
  cursor: pointer;
  transition: border-color 0.25s;
}
.langSelect:hover {
  border-color: #646cff;
}
.langSelect:focus,
.langSelect:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  .chevronDown,
  .settings {
    filter: invert(0);
  }
  .signOutButton,
  .langSelect {
    background-color: #eeeeee;
    color: #1a1a1a;
  }
}

@media (max-width: 576px) {
  .eventSelect {
    max-width: 70dvw;
  }
}
